*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 35%;
  grid-template-areas: "result content__details";
  column-gap: 30px;
  align-items: center;
}

.result {
  display: grid;
  gap: 16px;
  grid-area: result;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content__list {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 298px;
  gap: 30px;
  overflow-y: auto;
}

.content__details {
  grid-area: content__details;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  max-width: 194px;
  width: 100%;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-height: 101px;
  overflow: hidden;
}

.result__video-container {
  position: relative;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
